<div class="parent searchmargin">
<div class="box has-background-primary">

        <div class="box has-background-primary-light">
            <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">My Posts</p>
        </div>

            <div class="box has-background-primary">
            {{#each listings as |listing| }}
                <div class="pt-2 box has-background-primary-light">
                <a class="is-underlined" href="/listing/{{listing.id}}">{{listing.title}}</a>
                    <p>Category:{{listing.category}}</p>
                    <p>Description: {{listing.description}}</p>
                </div>
        
            {{/each}}
            </div>
        

    </div>

    <div class="box has-background-primary-light mt-6 pb-6">
        <div class="box has-background-primary-light">
        <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">Saved Posts</p>
        </div>
        <div class="tile is-parent box has-background-primary-light">
             {{#each savedListings as |savedListing| }}  
              <p>Category: {{savedListing.category}}</p>
              <p>User: {{savedListing.user.name}}</p>
              <p>Pricing: {{savedListing.pricing}}</p>
            {{/each}}
        </div>
    </div>
</div>