<div class="parent dashboardmargin">
    <div class="box has-background-primary">
            <div class="links box has-background-primary-light">
                <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">My Posts</p>
            </div>

            <div class="box has-background-primary">
            {{#each listings as |listing| }}
                <div class="links pt-4 box has-background-primary-light pb-4">
                    <a class="links is-underlined px-2 has-text-weight-bold" href="/listing/{{listing.id}}">{{listing.title}}</a>
                    <p class="has-text-weight-bold">Category:</p><p> {{listing.category}}</p>
                    <p class="has-text-weight-bold">Description:</p><p class="pb-2"> {{listing.description}}</p>
                </div>
        
            {{/each}}
            </div>
    </div>

    <div class="box has-background-primary">
            <div class="links box has-background-primary-light">
                <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">Saved Posts</p>
            </div>

        <div class="box has-background-primary">
        {{#each savedListing as |listing| }} 
            <div class="links pt-4 box has-background-primary-light pb-4">
                    <a class="links is-underlined px-2 has-text-weight-bold" href="/listing/{{listing.listing.user_id}}">{{listing.listing.title}}</a>
                    <p class="has-text-weight-bold">Category:</p><p> {{listing.listing.category}}</p>
                    <p class="has-text-weight-bold">Description:</p><p class="pb-2"> {{listing.listing.description}}</p>
            </div>
        {{/each}}
        </div>
    </div>
</div>