    <section>

    <div class="box has-background-primary-light pb-6">
        <div class="box has-background-primary-light">
        <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">My Posts</p>
        </div>
        <div class="tile is-parent box has-background-primary-light">
            {{#each listings as |listing| }}  
              <p>Category: {{listing.category}}</p>
              <p>Description: {{listing.description}}</p>
            {{/each}}


        </div>
    </div>

    <div class="box has-background-primary-light mt-6 pb-6">
        <div class="box has-background-primary-light">
        <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">Saved Posts</p>
        </div>
        <div class="tile is-parent box has-background-primary-light">
             {{#each savedListings as |savedListing| }}  
              <p>Category: {{savedListing.category}}</p>
              <p>User: {{savedListing.user.name}}</p>
              <p>Pricing: {{savedListing.pricing}}</p>
            {{/each}}
        </div>
    </div>

    </section>