<div>
    <h2>Type of Work: {{listing.category}}</h2>
    <p>Description: {{listing.description}}</p>
    <p>Pricing: ${{listing.pricing}}</p>
    <p>Location: {{listing.location}}</p>
    <p>Freelancer: {{listing.user.name}}</p>
    <p>Created: {{format_date listing.dateCreated}}</p>
    {{#if logged_in}}
    <p>Freelancer: {{listing.user.email}}</p>
    <p>Freelancer: {{listing.user.phone}}</p>
    {{else}}
    <p>Login to see contact information</p>
    {{/if}}
</div>

{{#if logged_in}}

    <div>
        <button>Save Listing</button>
    </div>
{{/if}}

<h1>Comments</h1>

{{#if logged_in}}
    {{#each listing.reviews as |review|}}
        <div>
            <p>{{review.comment}}</p>
            <p>{{review.user.name}}</p>
        </div>
    {{/each}}

    <div class="box has-background-primary-light mt-6 pb-6">
        <div class="box has-background-primary-light">
            <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">Leave a Review</p>
        </div>
        <div class="tile is-parent box has-background-primary-light">
            <div class="tile is-child box has-background-primary-light field control">          
            <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
        </div>
        
        <input style="float:right" class="button is-success is-focused" type="submit" value="Submit">
    </div>
{{else}}
    <div>
        <p>Login to view!</p>
    </div>
{{/if}}