<div class="box has-background-primary margincenter">
    <div class="links box has-background-primary-light">
        <div class="links box has-background-primary-light">
            <p class="tile is-ancestor has-background-primary-light title has-text-success-dark ">Job Listing</p>
        </div>
<div class="links box has-background-primary-light pb-6">
 <div class="pl-4 pb-4 pt-4">
    <div>
        <h2 class="title is-5" >Title:</h2>{{listing.title}}
     </div>
    <div>
        <h2 class="title is-5">Category:</h2>{{listing.category}}
     </div>

    <div>
        <p class="title is-5">Description:</p> {{listing.description}}
    </div>

    <div>
        <p class="title is-5">Pricing:</p> ${{listing.pricing}}
    </div>

    <div>
        <p class="title is-5">Location:</p> {{listing.location}}
    </div>

    <div>
        <p class="title is-5">Freelancer:</p> {{listing.user.name}}
    </div>

    <div>
        <p class="title is-5">Created:</p> {{format_date listing.dateCreated}}
    </div>

    <div>
    {{#if logged_in}}
        <p class="title is-5">Contact:</p>
        <p>Email:</p> {{listing.user.email}}
        <p>Phone number:</p> {{listing.user.phone}}
    {{else}}
        <p class="has-text-weight-bold pt-4">Login to see contact information!</p>
    {{/if}}
    </div>
 </div>

{{#if logged_in}}
    <div>
        <input style="float:right" class="button is-success is-small is-focused mt-3" type="submit" value="Save Listing">
    </div>
{{/if}}
</div>
</div>

<div class="links box has-background-primary-light">
<p class="subtitle is-5 pl-4 pb-1 pt-1">Reviews</p>

<div class="pl-4 pb-1">
{{#if logged_in}}
    {{#each listing.reviews as |review|}}
        <div>
            <p>"{{review.comment}}"</p>
            <p class="pb-4">- {{review.user.name}}</p>
        </div>
    {{/each}}
</div>
</div>

<div class="links box has-background-primary-light mt-6 paddingsubmit">
        <div class="links box has-background-primary-light">
            <p class="tile is-ancestor has-background-primary-light title has-text-success-dark">Leave a Review</p>
        </div>

        <div class="links tile is-child box has-background-primary-light field control">          
            <textarea class="textarea" placeholder="Comment"></textarea>

            </div>
        
        
        <input style="float:right" class="button is-success is-small is-focused mt-3" type="submit" id="submit-review" value="Submit">
    </div>
{{else}}
    <div>
        <p class="has-text-weight-bold">Login to view!</p>
    </div>
{{/if}}
</div>

<script src="/js/review.js"></script>